.main-nav{
    background-color: #e600e6;
    font-size: 2em;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}

ul{
    display: flex;
    list-style: none;

}
li{
    margin: auto;
}
a{
    text-decoration: none;
}
.flexcontainer{
    display: flex;
    background-color: #8c1aff;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}

.top-container{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(autofit mimax(200px,1fr ));
}
p{
    font-family: Arial ;
    font-size: 1.2em;
    padding: 20px;
}
body{
    margin: auto 0; 
}

.container{
    display: grid;
    background-color: #9494b8;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    /* grid-template: 1fr/repeat(autofit mimax(200px,1fr )); */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}
.box{
    margin: 20px;
    padding: 20px;
    background-color: #ff0066;
    width: 200px;
}
.box > img{
    width: 100%;
}